@font-face {
    font-family: "Nunito";
    font-display: swap;
    src: url('/assets/fonts/Nunito/Nunito-Light.woff2');
    font-weight: 400
}

@font-face {
    font-family: "Nunito";
    font-display: swap;
    src: url('/assets/fonts/Nunito/Nunito-Regular.woff2');
    font-weight: 500
}

@font-face {
    font-family: "Nunito";
    font-display: swap;
    src: url('/assets/fonts/Nunito/Nunito-SemiBold.woff2');
    font-weight: 600
}
