$font-family: 'Nunito';
$font-color: #333;
$font-size: 1.1rem;

$proofi-green: #14C39A;
$golden-yellow: #ffce14;

$primary-color: #14C39A;

$primary-text: $primary-color;
$muted-text: #6C8B8B;

$primary-bg-color: #ffffff;
$secondary-bg-color: #EBF1F1;
