$font-family: 'Proxima Nova';
$font-color: #111111;
$font-size: 1.1rem;

$proofi-green: #14C39A;
$proofi-dark-green: #035945;
$golden-yellow: #ffce14;

$primary-color: #14C39A;

$primary-text: $primary-color;
$muted-text: #6C8B8B;

$primary-bg-color: #ffffff;
$secondary-bg-color: #F5F8F8;
