<footer class="footer">
  <div class="container">
    <div class="columns is-centered has-text-centered">
      <div class="column is-narrow is-centered">
       <picture class="image">
        <img src="/assets/logo/proofi-inverted.svg" width="154px" class="lazy">
          </picture>
           <div class="content is-medium has-margin-top-40">
            <p class="subtitle is-6 is-spaced has-text-centered has-text-white">From the makers of <a href="https://www.ltonetwork.com">LTO Network</a>, <a href="https://www.fillthedoc.com">FillTheDoc</a> and <a href="https://www.firm24.com/bv-oprichten/">Firm24</a></p>
               <p class="subtitle is-7 is-spaced has-text-white"><a href="/privacy/">Privacy Statement</a> - <a href="/terms/">Terms of Use</a> - <a href="/cookies/">Cookie Statement</a></p>
          </div>
        </div>
    </div>
</div>
</footer>