<footer class="footer">
  <div class="container">
    <div class="columns is-centered is-vcentered">
      <div class="column is-narrow is-centered">
        <img src="/assets/logo/proof-white.svg" width="154px">
        </div>
        <div class="column is-narrow is-centered">
            <p>From the makers of <a href="https://ltonetwork.com">LTO Network</a></p>
      </div>
    </div>
</footer>