{% block navigation %}

<nav class="navbar is-fixed-top is-transparent" role="navigation" id="navbar">
  <div class="navbar-container container is-fluid">
    <div class="navbar-brand">
      <a class="logo" href="/">
        <img width="154" src="/assets/logo/proofi-black.svg" alt="Proofi"/>
      </a>

      <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="mainNavigationMenu">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>

    <div id="mainNavigationMenu" class="navbar-menu">
      <div class="navbar-end">
       <a class="navbar-item is-hidden-desktop" href="/">Home</a>
       <a class="navbar-item modal-button is-hidden-desktop" data-target="modal-contact">Contact us</a>
        <a class="navbar-item is-hidden-mobile" href="#">
          <button class="button is-primary is-small modal-button" data-target="modal-contact">Contact us</button>
        </a>
    </div>
  </div>
  </div>
</nav>

{% endblock %}
