{% set title = 'Proofi' %}
{% set description = 'Terms of Use' %}
{% set image = "/assets/meta/meta-home.png" %}
{% set currentUrl = '/terms' %}


{% extends "base.njk" %}

{% block content %}

 <section class="hero stamp-bg-hero">
    <div class="hero-body">
        <div class="container">
           <div class="columns">
               <div class="column">
                   <div class="content is-medium">
                   <h1 class="title has-text-centered">Terms of Use</h1>
                   <p>These Terms of Use (the “<strong>Terms</strong>”) document the legally binding agreement between the user of the Proofi Application (“<strong>Proofi</strong>”) and LTO Network B.V. of Amsterdam, the Netherlands (the “<strong>Provider</strong>”), as provider of Proofi. By using or accessing Proofi, you are agreeing to be bound by these Terms 
                   </p>
                   <h3>Governing Law</h3>
                    <p>These Terms are governed by the laws of the Netherlands. Any dispute arising from Proofi, the use of Proofi or these Terms of Use, will be settled before the competent judge in the court of Amsterdam, the Netherlands.
                   </p>
                   <h3>Termination</h3>
                   <p>In case of any breach of the Terms, Provider reserves the right to terminate access to Proofi, without any advance notice.</p>
                   <h3>Changes to these Terms</h3>
                   <p>Provider reserves the right to modify these Terms at any time. Provider does so by posting and drawing attention to the updated Terms. User’s decision to continue to use Proofi after such changes have been made constitutes a formal acceptance of the new Terms. 
                   </p>
                   <h3>Liability</h3>
                   <p>Provider’s liability for any direct, indirect, consequential or punitive damages or loss of any kind arising from the use of Proofi or otherwise under or in connection with these Terms will be limited to the amount paid for the use of Proofi to Provider in the twelve (12) months prior to the occurrence of the act or omission giving rise to such claim. The limitation of liability and exclusion of certain damages stated herein will apply regardless of the failure of essential purpose of any remedy. User specifically acknowledges that these limitations of liability are reflected in the pricing.</p>
                   <h3>Indemnification for data, privacy or IP infringements</h3>
                   <p>User indemnifies Provider against any liability, claim, proceeding, cost, expense (including the actual legal fees charged by the Provider’s solicitors or advisors) and loss of any kind arising from any actual or alleged claim by a third party that any data, content, or information owned, held, used or created by or on behalf of you that is stored using, or inserted into, Proofi (the “<strong>Data</strong>”) infringes the rights of that third party (including Intellectual Property Rights and privacy rights) or that the Data is objectionable, incorrect or misleading.</p>
                   <h3>Intellectual property</h3>
                   <p>Provider is the sole owner of the intellectual property to the Proofi name, logo and software code (the “<strong>IP</strong>”). User shall not reproduce, modify, or create derivative works of the Proofi IP, or transfer, lease, lend, license, resell or otherwise distribute the Proofi IP.</p>
                   <h3>Privacy, data processing</h3>
                   <p>Proofi’s Privacy Policy is incorporated into this Agreement by this reference. Proofi’s Data Processing Addendum is incorporated into this Agreement by this reference.</p>
                       <p>Do you have questions about our Terms of Service? <a href="mailto:support@proofi.com">Feel free to contact us</a>.</p>
                   </div>
               </div>
            </div>
            
            <div class="columns has-margin-top-40">
               <div class="column">
                   <div class="content is-medium">
                   <div class="tags has-addons">
                      <span class="tag">These Terms of Use has been updated on </span>
                      <span class="tag is-primary">06-12-2019</span>
                    </div>
                   </div>
               </div>
            </div>
            
        </div>
    </div>
</section>
{% endblock %}
