{% set title = 'Proofi' %}
{% set description = 'Sign all your communication and let your clients verify your identity for free.' %}
{% set image = "/assets/meta/meta-home.png" %}
{% set currentUrl = '/' %}


{% extends "base.njk" %}

{% block content %}

 <section class="hero is-medium stamp-bg-hero">
    <div class="hero-body">
        <div class="container">
            <div class="columns is-vcentered is-centered-mobile">
                <div class="column is-6-desktop">
                    <div class="tags are-small">
                        <span class="tag is-link is-light">NOW IN CLOSED BETA</span>
                    </div>
                    <h1 class="title is-1 is-spaced has-text-black">Sign everything you send online with <strong class="accent">Proofi</strong></h1>
                    <h3 class="hero-sub muted">Proofi supplies you with a unique digital signature to identify yourself in online communications.</h3>
                    <div class="buttons btn-container">
                        <a class="button is-primary is-medium vrlps-trigger">
                            <span class="icon is-medium"><img src="/assets/icons/new.svg" class="lazy"></span>
                            <span>Join the <strong>exclusive</strong> beta</span>
                        </a>
                        <a class="button is-primary is-outlined is-medium modal-button" data-target="modal-bis">
                             <span>Subscribe newsletter</span>
                        </a>
                    </div>
                </div>
                <div class="column is-6-desktop">
                    <img src="/assets/img/proofi-message.svg" class="lazy proofi-message">
                </div>
            </div>
            <div class="section hero-after">
                <div class="columns is-vcentered is-centered-mobile inverted-mobile">
                    <div class="column is-6-desktop">
                        <img src="/assets/img/portal.svg" class="lazy portal-image is-pulled-left-desktop is-rounded shadow">
                    </div>
                    <div class="column is-6-desktop">
                        <h2 class="title is-2 is-spaced has-text-black has-text-weight-bold">Why <span class="accent">Proofi?</span></h2>
                        <div class="content">
                            <p class="muted">Online fraud, such as (spear) phishing, gets more advanced by the day. Companies and customers suffer as much as <strong>4 trillion USD</strong> in damages each year through online fraud.</p>
                            <p class="muted">No less than 90% of these attacks start with an email, handled by a person. As it turns out, security awareness training only helps partially. </p>
                            <p class="muted"><span class="accent">Proofi</span> fixes this problem once and for all. By signing all your communications, it becomes impossible to impersonate you. Why wouldn’t you?</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="section is-medium is-secondary">
    <div class="container">
        <div class="columns is-centered">
            <div class="column is-6">
                <picture class="image gdpr is-centered">
                    <img src="/assets/img/gdpr-compliant.svg" class="lazy">
                </picture>
                <h2 class="title is-2 is-spaced has-text-centered has-text-weight-bold">100% safe and secure </h2>
                <div class="content has-text-centered">
                    <p class="muted">With <span class="accent">Proofi</span> we’re striving for an internet that runs completely on trusted digital transactions. Together we can create a safe and secure internet.</p>
                    <p class="muted">We believe this trust should be a human right in our online world, and therefore validating <span class="accent">Proofies</span> will always be free. </p>
                    <p class="muted">We’re playing our part in keeping you and your data safe & secure. <span class="accent">Proofi</span> is built on open standards with privacy and GDPR compliance by design.</p>
                </div>
                <!--
                    <div class="has-text-centered">
                        <a class="accent has-text-weight-normal" href="#">Learn more</a>
                    </div>
-->
            </div>
        </div>
    </div>
</section>


<section class="section is-medium">
    <div class="container">
        <div class="columns is-centered">
            <div class="column is-5 has-text-centered">
                <h2 class="title is-2 is-spaced has-text-weight-bold">How does it work?</h2>
                <div class="content">
                    <p class="muted">Every time a transaction is sent, it goes through the <span class="accent">Proofi</span> loop. This way, every relevant aspect of the Proofied transaction be checked by the receiver.</p>
                </div>
            </div>
        </div>
        <div class="columns is-centered is-hidden-mobile">
            <picture class="image">
                <img src="/assets/img/proofi-explainer.svg" class="lazy">
            </picture>
        </div>
        <div class="columns is-centered is-hidden-desktop">
            <picture class="image">
                <img src="/assets/img/sender.svg" class="lazy sender">
            </picture>
        </div>
        <div class="columns">
            <div class="column is-3 is-hidden-desktop">
                <div class="timeline">
                    <span class="oval-green sender">
                        <picture><img src="/assets/icons/oval.svg" class="lazy"></picture>
                    </span><span class="subtitle"><strong>Sender</strong></span>
                </div>
            </div>
            <div class="column is-3">
                <div class="timeline">
                    <span class="proofi-green">
                        <picture><img src="/assets/icons/green.svg" class="lazy"></picture>
                    </span>
                </div>
                <div class="content timeline-content">
                    <h3 class="subtitle"><strong>Identity</strong></h3>
                    <p class="muted">Every transaction is sent through a KYC or SSL EV verified Proofi account.
                    </p>
                </div>
            </div>
            <div class="column is-3">
                <div class="timeline">
                    <span class="proofi-green">
                        <picture><img src="/assets/icons/green.svg" class="lazy"></picture>
                    </span>
                </div>
                <div class="content timeline-content">
                    <h3 class="subtitle"><strong>Authority</strong></h3>
                    <p class="muted">In a business setting your identity is authorized by your organization.
                    </p>
                </div>
            </div>
            <div class="column is-3">
                <div class="timeline">
                    <span class="proofi-green">
                        <picture><img src="/assets/icons/green.svg" class="lazy"></picture>
                    </span>
                </div>
                <div class="content timeline-content">
                    <h3 class="subtitle"><strong>Allowed actions</strong> <small class="muted has-text-weight-light">(optional)</small></h3>
                    <p class="muted">Within an organization you can be given allowed actions to transact on.
                    </p>
                </div>
            </div>
            <div class="column is-3">
                <div class="timeline">
                    <span class="proofi-green">
                        <picture><img src="/assets/icons/green.svg" class="lazy"></picture>
                    </span>
                </div>
                <div class="content timeline-content">
                    <h3 class="subtitle"><strong>Signing</strong></h3>
                    <p class="muted">Every transaction gets cryptographically and immutably signed before sending.
                    </p>
                </div>
            </div>
            <div class="column is-3 is-hidden-desktop">
                <div class="timeline">
                    <span class="oval-green receiver">
                        <picture><img src="/assets/icons/oval.svg" class="lazy"></picture>
                    </span><span class="subtitle"><strong>Receiver</strong></span>
                </div>
            </div>
        </div>
        <div class="columns is-centered is-hidden-desktop">
            <picture class="image">
                <img src="/assets/img/receiver.svg" class="lazy receiver">
            </picture>
        </div>
    </div>
</section>

<section class="section is-medium is-proofi-green stamp-bg-alt is-small">
    <div class="container">
        <h2 class="title is-2 has-text-white has-text-centered"><strong class="has-text-white">Proofi</strong> for everyone</h2>
        <div class="tile is-ancestor has-margin-top-40">
            <div class="tile is-parent">
                <article class="tile is-child box has-text-centered">
                    <div class="content">
                        <p class="title is-4">Individuals</p>
                        <p class="subtitle is-6 muted">Verifying is always free, aimed at your security. Why wouldn’t you?</p>
                    </div>
                </article>
            </div>
            <div class="tile is-parent">
                <article class="tile is-child box has-text-centered">
                    <div class="content">
                        <p class="title is-4">One-man-bands</p>
                        <p class="subtitle is-6 muted">Act with your company identify. Your clients will be thankful for this instant trust.</p>
                    </div>
                </article>
            </div>
            <div class="tile is-parent">
                <article class="tile is-child box has-text-centered">
                    <div class="content">
                        <p class="title is-4">Teams/SMB’s</p>
                        <p class="subtitle is-6 muted">Identify employees and allow them to verify (business) transactions.</p>
                    </div>
                </article>
            </div>
            <div class="tile is-parent">
                <article class="tile is-child box has-text-centered">
                    <div class="content">
                        <p class="title is-4">Enterprise</p>
                        <p class="subtitle is-6 muted">All your internal and external communication. Straight from your systems.</p>
                    </div>
                </article>
            </div>
        </div>
    </div>
</section>

<section class="section is-medium is-secondary">
    <div class="container">
        <div class="columns is-centered">
            <div class="column is-6">
                <div class="tags are-small is-centered">
                    <span class="tag is-black">COMING SOON</span>
                </div>
                <h2 class="title is-2 is-spaced has-text-centered has-text-weight-bold">Where does <span class="accent">Proofi</span> work?</h2>
                <div class="content has-text-centered">
                    <p class="muted">Use <span class="accent">Proofi</span> in all your favourite business applications to add a security layer to your day-to-day operations</p>
                </div>
            </div>
        </div>
        <div class="tile is-ancestor has-margin-top-40">
            <div class="tile is-parent">
                <article class="tile is-child box has-text-centered">
                    <picture class="image is-centered blurred">
                        <img src="/assets/img/email-fraud.svg" class="lazy">
                    </picture>
                </article>
            </div>
            <div class="tile is-parent">
                <article class="tile is-child box has-text-centered">
                    <picture class="image is-centered blurred">
                        <img src="/assets/img/fake-invoices.svg" class="lazy">
                    </picture>
                </article>
            </div>
            <div class="tile is-parent">
                <article class="tile is-child box has-text-centered">
                    <picture class="image is-centered blurred">
                        <img src="/assets/img/file-transfers.svg" class="lazy">
                    </picture>
                </article>
            </div>
            <div class="tile is-parent">
                <article class="tile is-child box has-text-centered">
                    <picture class="image is-centered blurred">
                        <img src="/assets/img/payments.svg" class="lazy">
                    </picture>
                </article>
            </div>
        </div>
        <div class="columns is-centered has-margin-top-40">
            <div class="column is-6">
                <h2 class="title is-2 is-spaced has-text-centered has-text-weight-bold">The API</h2>
                <h3 class="subtitle is-2 is-spaced has-text-centered has-text-weight-bold muted"><span class="accent">Proofi</span> everywhere</h3>
                <div class="content has-text-centered">
                    <p class="muted">There are so many people that would love to sign, but simply can’t.
                        Integrate Proofi into every payment system, CRM system, file sharing system, messaging system or any other system.
                        Proofi has no limits.</p>
                </div>
                <div class="has-text-centered">
                    <a class="accent has-text-weight-normal modal-button" data-target="modal-bis">Stay up to date</a>
                </div>
                <div id="modal-bis" class="modal">
                    <div class="modal-background"></div>
                    <div class="modal-content has-background-white">
                        <div class="columns">
                            <div class="column">
                                <div id="mc_embed_signup">
                                    <form action="https://proofi.us4.list-manage.com/subscribe/post?u=29b91314a0d2fd39fc1a947c8&amp;id=9f6cc78eac" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                                        <div id="mc_embed_signup_scroll">
                                            <h2 class="title is-3 is-spaced">Stay up to date!</h2>
                                            <div class="field">
                                                <div class="mc-field-group">
                                                    <label for="mce-FNAME" class="label">First Name <span class="asterisk">*</span>
                                                    </label>
                                                    <div class="control">
                                                        <input type="text" value="" name="FNAME" class="input required" id="mce-FNAME">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="field">
                                                <div class="mc-field-group">
                                                    <label for="mce-LNAME" class="label">Last Name <span class="asterisk">*</span>
                                                    </label>
                                                    <div class="control">
                                                        <input type="text" value="" name="LNAME" class="input required" id="mce-LNAME">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="field">
                                                <div class="mc-field-group">
                                                    <label for="mce-LOCATION" class="label">Location <small>(country)</small> <span class="asterisk">*</span>
                                                    </label>
                                                    <div class="control">
                                                        <input type="text" value="" name="LOCATION" class="input required" id="mce-LOCATION">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="field">
                                                <div class="mc-field-group">
                                                    <label for="mce-EMAIL" class="label">Email Address <span class="asterisk">*</span>
                                                    </label>
                                                    <div class="control">
                                                        <input type="email" value="" name="EMAIL" class="input required email" id="mce-EMAIL">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="field">
                                                <div class="mc-field-group">
                                                    <label for="mce-COMPANY" class="label">Company </label>
                                                    <div class="control">
                                                        <input type="text" value="" name="COMPANY" class="input" id="mce-COMPANY">
                                                    </div>
                                                </div>
                                            </div>
                                            <div id="mce-responses" class="clear">
                                                <div class="response" id="mce-error-response" style="display:none"></div>
                                                <div class="response" id="mce-success-response" style="display:none"></div>
                                            </div> <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                                            <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_29b91314a0d2fd39fc1a947c8_9f6cc78eac" tabindex="-1" value=""></div>
                                            <div class="field clear">
                                                <div class="control">
                                                    <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button is-primary">
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>

                    </div>
                    <button class="modal-close is-large" aria-label="close"></button>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="section is-medium has-background-white stamp-bg is-small">
    <div class="container">
        <h2 class="title is-2 has-text-centered has-text-weight-bold">Join the movement</h2>
        <div class="columns is-centered">
            <div class="column is-7">
                <h3 class="muted has-text-centered">We’re on a mission to secure your employees and your clients. To achieve an Internet of Trust together, we need your valuable feedback. Join our beta waiting list to get access ASAP!</h3>
            </div>
        </div>
        <div class="btn-container has-text-centered"><a href="#" class="button is-primary is-medium vrlps-trigger"><strong>Join now</strong> - it's free!</a></div>
    </div>
</section>





{% endblock %}
