{% set title = 'Proofi' %}
{% set description = 'Identification for DeFi' %}
{% set image = "/assets/meta/meta-home.png" %}
{% set currentUrl = '/' %}
{% set hideNavigation = true %}


{% extends "base.njk" %}

{% block content %}

<section class="hero is-medium stamp-bg-hero" style="min-height: calc(100vh - 247px)">
    <div class="hero-body">
        <div class="container">
            <div class="columns is-vcentered is-centered-mobile">
                <div class="column is-6-desktop">
                    <div class="tags are-small">
                        <span class="tag is-link is-light">NOW IN CLOSED BETA</span>
                    </div>
                    <h1 class="title is-1 is-spaced has-text-black">Identification for DeFi by <strong class="accent">Proofi</strong></h1>
                    <h3 class="hero-sub muted">Get verified once, skip KYC forever.</h3>
                    <div class="buttons btn-container">
                        <a class="button is-primary is-medium vrlps-trigger">
                            <span class="icon is-medium"><img src="/assets/icons/new.svg" class="lazy"></span>
                            <span>Join the <strong>exclusive</strong> beta</span>
                        </a>
                    </div>
                </div>
                <div class="column is-6-desktop">
                    <img src="/assets/img/temp-head.png" style="max-width: 85%; margin-top: 50px; margin-left: 20px" class="lazy proofi-message">
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}
