{% set title = 'Proofi' %}
{% set description = 'Cookie Statement' %}
{% set image = "/assets/meta/meta-home.png" %}
{% set currentUrl = '/cookies' %}


{% extends "base.njk" %}

{% block content %}

 <section class="hero stamp-bg-hero">
    <div class="hero-body">
        <div class="container">
           <div class="columns">
               <div class="column">
                   <div class="content is-medium">
                   <h1 class="title has-text-centered">Cookie Statement</h1>
                   <h2>What are cookies?</h2>
                   <p>Cookies are small, simple text files that are placed on your computer, tablet or mobile phone via our website when you visit our website. The cookies we use on our website do not retain any personal information, such as your password, name, address or age. The cookies only remember your preferences and interests.
                   </p>
                       <p>We use cookies for various reasons. Below you can read more about the 3 different categories of cookies that LTO Network BV., hereafter "LTO Network", uses on the website <a href="https://proofi.com">www.proofi.com</a>.
                   </p>
                   <h3>1. Necessary cookies</h3>
                   <p>Some cookies are necessary for the functioning of our website. These cookies contribute to safe browsing. If your browser does not accept LTO Network.io cookies, you can not use our website and your personal environment. This means that you can not or only to a very limited extent make use of our portal and the services provided therein. 
                   </p>
                   <h3>2. Statistics cookies</h3>
                   <p>We strive for the highest possible user experience. To achieve this, we use cookies that collect information about the use of our website.
                   </p>
                   <h3>3. External cookies</h3>
                   <p>We find it important to only share information with you that is relevant. We therefore use cookies that tell us something about your user profile. We do this on our own website as well as on external websites. We show information that connects to a previous visit to our website. Did you, for example, view the page about process management on our website? Then you may see an advertisement about this service on an external website. 
                   </p>
                       <p>On our website we use the social media channels Facebook, Google+, Twitter, LinkedIn and YouTube. Via special buttons of these channels you can easily share content from our website through your own account. An example is Facebook's 'Like button'. This is made possible by the use of cookies. You can find more information about the data that these social media channels provide on the websites of <a href="https://www.facebook.com/policies/cookies/">Facebook</a>, <a href="https://www.linkedin.com/legal/cookie-policy">LinkedIn</a>, <a href="https://help.twitter.com/en/rules-and-policies/twitter-cookies">Twitter</a>, <a href="https://www.google.com/intl/en/policies/privacy/">Google+</a> and <a href="https://www.google.com/intl/en/policies/privacy/">Youtube</a>.
                   </p>
                   </div>
               </div>
            </div>
               <div class="columns has-margin-top-40">
               <div class="column">
                   <div class="content is-medium">
                   <h2>Overview of cookies</h2>
                       <h3>Cookie overview (<a href="">PDF</a>)</h3>
                       <p>We strive to keep this overview as up-to-date as possible. The overview was last updated on <strong>6-12-2019</strong>.
                   </p>
                   </div>
               </div>
            </div>
            
            <div class="columns has-margin-top-40">
               <div class="column">
                   <div class="content is-medium">
                   <h3>How can you block or delete cookies?</h3>
                   <p>Do you prefer that LTO Network not place any cookies at all on your device? You can block or delete these cookies yourself via the privacy settings of your browser. The website may as a consequence function less optimal, or even not function at all. See the explanation above for "necessary cookies".</p>
                   </div>
               </div>
            </div>
            
            <div class="columns has-margin-top-40">
               <div class="column">
                   <div class="content is-medium">
                   <h3>Block cookies</h3>
                   <p>Do you want to prevent new cookies from being placed? You can turn off the possibility that cookies are stored on your computer, tablet or mobile. There are various ways to block cookies. You can block all cookies, block a specific type of cookie or block cookies from certain websites. You can do this yourself through the privacy settings of your browser. When cookies are blocked, all cookies remain that were already present on your computer, tablet or mobile. It’s best therefore to remove all your already placed cookies in addition to blocking.</p>
                   </div>
               </div>
            </div>
            
            <div class="columns has-margin-top-40">
               <div class="column">
                   <div class="content is-medium">
                   <h3>Delete cookies</h3>
                   <p>Do you want to delete all cookies on your computer? No problem. But keep in mind that by removing cookies you will experience less user convenience when you visit websites. Certain settings will no longer be saved and you may miss out on relevant offers. Incidentally, cookies will be stored on your computer, tablet or mobile after every internet visit, unless you have blocked the placement of new cookies.</p>
                       <p>The settings for removing cookies can be found in the toolbar of your browser. You can read more about this on the websites of the browsers <a href="http://windows.microsoft.com/nl-be/windows-vista/Delete-your-Internet-cookies">Internet Explorer</a>, <a href="https://support.mozilla.org/en-US/kb/delete-cookies-remove-info-websites-stored">Mozilla Firefox</a> or <a href="http://support.google.com/chrome/bin/answer.py?hl=nl&answer=95647">Google Chrome</a>. Do you use Safari? Safari blocks advertiser cookies by default. You can change this setting by clicking on the symbol for settings at the top right. Then go to 'Preferences', tab 'Privacy'. You can then choose from 3 settings.</p>
                   </div>
               </div>
            </div>
            
            <div class="columns has-margin-top-40">
               <div class="column">
                   <div class="content is-medium">
                   <div class="tags has-addons">
                      <span class="tag">This Cookie Statement has been updated on </span>
                      <span class="tag is-primary">06-12-2019</span>
                    </div>
                   </div>
               </div>
            </div>
            
        </div>
    </div>
</section>
{% endblock %}
