@import 'partials/_variables';
@import 'partials/typeface';
@import 'partials/mixins/_media-queries';


html {
    font-size: 18px;
    font-family: 'Nunito' !important;
}

body {
    font-family: 'Nunito' !important;
    font-size: 18px;
    max-width: 3000px;
    margin: 0 auto;
    line-height: 1.56;
    letter-spacing: 0.6px;
}

.footer {
    background-color: #14C39A;
    color: #fff;
    max-height: 140px;

    a {
        color: #fff;
        font-weight: 600;
    }
}

h1 {
    font-size: 64px !important;
    line-height: 66px;
    font-weight: 600;
    margin-bottom: 24px;

    @include responsive(phone) {
        font-size: 2rem !important;
        line-height: 2.2rem;
        margin-top: 14px;
    }

    &.with-lh {
        line-height: 2.3;
    }
}

h2 {
    font-size: 40px !important;

    @include responsive(phone) {
        font-size: 1.65rem !important;
    }
}

h3 {
    font-size: 24px;
    font-weight: 400;
    line-height: 36px;
}

h2 + h3 {
    margin-bottom: 56px;
}

.hero {
    position: relative;
    background-size: cover;

    > .hero-body {
        padding: 200px;

        @include responsive(phone) {
            padding: 20px;
            margin-top: 80px;
        }
    }
}


.hero-sub {
    max-width: 500px;
}

.invisible {
    visibility: hidden;
}

.navbar {
    font-size: 15px;
    font-weight: 500;
    text-decoration: underline;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 80px;
    transition: 150ms ease-out;
    box-shadow: 0px 6px 16px rgba(0, 0, 0, 0.15);

    &.is-transparent {
        background-color: transparent !important;
        box-shadow: none;
    }

    .logo {
        display: flex;
        align-items: center;
    }

    .navbar-end {
        display: flex;
        align-items: center;

        @include responsive(phone) {
            flex-direction: column;
            align-items: flex-start;
        }
    }

    a {
        color: $primary-text;
        position: relative;
        transition: 321ms ease-out;
        letter-spacing: normal;


        &.navbar-item {
            @include responsive(phone) {
                padding: 20px;
                width: 100%;

                &:before {
                    content: '›';
                    position: absolute;
                    right: 32px;
                    top: 19px;
                    opacity: 0.7;
                }

                &:after {
                    animation: none;
                    display: none;
                }
            }
        }

        @keyframes slideIn {
            0% {
                width: 0px;
            }

            100% {
                width: 100%;
            }
        }

        @keyframes slideOut {
            0% {
                width: 100%
            }

            100% {
                width: 0%;
            }
        }
    }

    .navbar-menu {
        transition: 221ms ease-out;

        @include responsive(phone) {
            display: block;
            position: fixed;
            height: 100%;
            max-height: 100% !important;
            left: 0px;
            top: 0px;
            transform: translateX(-100%);
        }

        &.is-active {
            @include responsive(phone) {
                transform: translateX(0px);
                width: 65%;
            }
        }
    }

    .navbar-container {
        @include responsive(phone) {
            padding: 16px;
        }
    }
}


.button {
    border-radius: 4px;
    box-shadow: 0 16px 24px -12px rgba(0, 0, 0, 0.40) !important;
    transition: 345ms ease-out;
    cursor: pointer;
    justify-content: center;
    text-align: center;

    @include responsive(desktop) {
        padding: 26px 32px;
    }
}

.hero {
    .button {
        @include responsive(phone) {
            font-size: 1.1rem !important;
        }
    }
}

.shadow {
    box-shadow: 0 16px 24px -12px rgba(0, 0, 0, 0.40);
}

.btn-container {
    margin-top: 42px;
}

.card {
    background: #FFFFFF;
    box-shadow: 0 11px 16px 0 rgba(0, 0, 0, 0.15);
    border-radius: 8px;
}

.stamp-bg {
    background-image: url(/assets/hero/right-top-stamp.svg),
        url(/assets/hero/left-bottom-stamp.svg);
    background-repeat: no-repeat,
        no-repeat;
    background-position: right top,
        bottom left;
    background-size: auto, auto;

    @include responsive(phone) {
        background-size: 45%, 25%;
    }

    @include responsive(desktop) {
        background-size: 30%, 15%;
    }

    &.is-small {
        background-size: 30%, 20%;

        @include responsive(desktop) {
            background-size: 15%, 10%;
        }
    }
}

is-centered {
    justify-content: center;
    align-self: center;
}

.muted {
    color: #6C8B8B;
}

.columns {
    &.inverted-mobile {
        @include responsive(touch) {
            display: flex;
            flex-direction: column-reverse;

            .column {
                flex: 1 1 auto;
            }
        }
    }
}

#lottie {
    width: 100%;
    height: 100%;
}

.accent {
    color: #14C39A;
    font-weight: 600;
}

span {
    display: inline;
}

.section {
    &.is-secondary {
        background-color: #EBF1F1;
        box-shadow: 0 0 24px 0 rgba(0, 0, 0, 0.20);
    }
}

.title {
    font-size: 1.9rem;
}

.proofi-message {
    max-width: 100%;

    @include responsive(phone) {
        max-width: 100%;
    }
}

//article {
//    .title {
//        &::after {
//            content: '';
//            position: absolute;
//            background-color: aquamarine;
//            height: 3px;
//            border-radius: 8px;
//            margin-top: 39px;
//            left: 24px;
//            width: 15%;
//
//            @include responsive(phone) {
//                width: 31%;
//            }
//
//        }
//    }
//}

.usp-icon {
    max-width: 30%;
}

.is-hidden-mobile {
    @include responsive(phone) {
        display: none;
    }
}
